doctype html
html
    head
        title= 'Fragments of the World'
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='module' src=scriptLink)
        script(src='https://kit.fontawesome.com/9f34627289.js')
    body
        header
            nav
                p.who= who
                ul
                    li
                        a(href="/users/register") Register
                    li
                        a(href="/users/login") Login
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/worldview") Continents
                    li
                        a(href="/country") Country
                    li
                        a(href="/city") City
                    li
                        a(href="/lang") Language
                    li
                        a(href="/goverments") Form of goverment
        main
            block all
                h1= 'Fragments of the World'
                h2= subtitle
                p= messages
                    block content
